padding = 10px

img
  width 100%
  height 100%

.textBlock
  padding padding/2
  margin padding/2
  .imageBlock
    padding padding
    float right
    width 40%
    overflow hidden
  p
    line-height 2
    margin 1vw
    text-align justify
    text-indent 2vw
    word-spacing 0.5em

.textFlex
  .textBlock
    padding padding/2
    margin padding/2
    width 50%

    
    
